<table class="table table-bordered border-dark ms-auto">
  <thead class="table-primary">
    <tr>
      <th scope="col">Código - Vin</th>
      <th scope="col">Odômetro</th>
      <th scope="col">Nivel de Combustivel</th>
      <th scope="col">Status</th>
      <th scope="col">Lat.</th>
      <th scope="col">Long.</th>
    </tr>
  </thead>
  <tbody class="table-light">
    <tr>
      <td>
        <input type="search" class="form-control" [ngModel]="textoBuscaVin" (ngModelChange)="getVeiculoData($event)"
          placeholder="Insira o código do veiculo">
      </td>
      <td>{{veiculoDataSelecionado.odometer}}</td>
      <td>{{veiculoDataSelecionado.fuelLevel}}</td>
      <td>{{veiculoDataSelecionado.status}}</td>
      <td>{{veiculoDataSelecionado.lat}}</td>
      <td>{{veiculoDataSelecionado.long}}</td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
