<table class="table table-bordered border-dark ms-auto">
  <thead>
    <tr>
      <th scope="col">Código - Vin</th>
      <th scope="col">Odômetro</th>
      <th scope="col">Nivel de Combustivel</th>
      <th scope="col">Status</th>
      <th scope="col">Lat.</th>
      <th scope="col">Long.</th>
    </tr>
  </thead>
  <tbody class="table-light mb-3">
    <tr>
      <td>
        <input type="search" class="form-control" [formControl]="veiculoInput" placeholder="Insira o código do veiculo">
      </td>
      <ng-container *ngIf="filtroPeloInput$ | async as filtroPeloInput$">
        <td>{{filtroPeloInput$[0].odometer}}</td>
        <td>{{filtroPeloInput$[0].fuelLevel}}</td>
        <td>{{filtroPeloInput$[0].status}}</td>
        <td>{{filtroPeloInput$[0].lat}}</td>
        <td>{{filtroPeloInput$[0].long}}</td>
      </ng-container>
      </tr>
  </tbody>
